<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= cl_image_tag("dhsantjslliqzcmcdifm", width: 200, height: 200, crop: :scale) %>
<%= cl_image_tag("dhsantjslliqzcmcdifm", width: 200, height: 200, crop: :thumb, gravity: :face) %>
<%= cl_image_tag("rrhdak30kkuum4mpiy2d", width: 100, height: 100, crop: :fill) %>
